<h1>My Places</h1>

<ul>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.name, "/places/#{place.id}" %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Add a new place", "/places/new" %>
</p>